# Ignorar uploads de mídia do WordPress
2024/EasyTrash/EasyTrash_site/wp-content/uploads/

# Ignorar backups e cache
2024/EasyTrash/EasyTrash_site/wp-content/cache/
2024/EasyTrash/EasyTrash_site/wp-content/backups/

# Ignorar arquivos temporários e de configuração
2024/EasyTrash/EasyTrash_site/wp-config.php
2024/EasyTrash/EasyTrash_site/.htaccess

# Ignorar diretórios de plugins e temas (caso não queira versioná-los)
2024/EasyTrash/EasyTrash_site/wp-content/plugins/
2024/EasyTrash/EasyTrash_site/wp-content/themes/

# Ignorar arquivos de log
2024/EasyTrash/EasyTrash_site/*.log
