*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.wpress filter=lfs diff=lfs merge=lfs -text
2024/EasyTrash/EasyTrash_site/wp-content/ai1wm-backups/*.wpress filter=lfs diff=lfs merge=lfs -text
